<div class="wrapper">
  <div class="issues-container">
    <div class="issue-heading">
      <h1 class="issue-title-view">#{{viewData.id}} {{viewData.title}}</h1>
      {{#if viewData.open}}
      <a href="./issues/{{viewData.id}}/close" class="close-reopen-btn">Close issue</a>
      {{else}}
      <a href="./issues/{{viewData.id}}/reopen" class="close-reopen-btn">Reopen issue</a>
      {{/if}}
    </div>
    <hr>
    <div class="issue-description">
      {{#if viewData.description}}
      <span>{{viewData.description}}</span>
      {{else}}
      <span>There is no description for this issue.</span>
      {{/if}}
    </div>
    
    <div class="issue-data">
      {{#if viewData.open}}
      <div class="open-issue"><i class="fas fa-lock-open"></i> Open</div>
      {{else}}
      <div class="closed-issue"><i class="fas fa-lock"></i> Closed</div>
      {{/if}}
      <span>Last update: {{viewData.updated}}</span>
      <div class="author-data">
        <img class="issue-avatar" src="{{viewData.avatar}}" alt="Avatar">
        {{viewData.author}}
      </div>
      
    </div>  
  </div>
  <a href="./issues" class="go-back-btn"><i class="fas fa-arrow-circle-left"></i></a>
</div>